docker {
	enabled = true
	userEmulation = true
}



// Parameters used by the modules

params {

	// MOFA parameters
	seed = 100
	convergence_mode = "slow" 

}



// Software containers used by the modules

process {

  // Assign containers to single processes 
	withName:SNF {
		container = "casperdevisser/miniconda-snf:v0.7"
	}
	withName:SNF_ANALYSIS {
		container = "casperdevisser/miniconda-snf:v0.7"
	}
	withName:MOFA {
		container = "casperdevisser/mofa2:latest" 
	}
}



manifest {
    name            = 'Xomics/nf_modules'
    author          = 'Anna Niehues, Casper de Visser'
    homePage        = 'https://github.com/Xomics/nf_modules'
    description     = 'Nextflow modules for multi-omics analysis'
    nextflowVersion = '!>=22.04.0'
}